<style>

.half{

  width:50%
}

</style>
<nav class="navbar navbar-expand-sm " style="height:80px;background-color: #000000">
    <h1><img style="margin-left: 10%;width:150px; height: 40px;" class="login-logo" src='assets/img/brand/logo-cloudhiti.png' /> </h1>

  </nav>

<div class="app-body">


  <main class="main d-flex align-items-center">

    <div class="container" >

      <div id="full-page" class="row">

        <div style="margin-left:10%;margin-top: 10%;">

          <span>

              <h3>Welcome to ClouDhiti! Analytics for all</h3>
              <br>
              <h4>Business Insights as a Service!</h4>
              <br>
              <h6>For support, please write to results@cloudhiti.com </h6>




          </span>
            <!-- <p style="font-size:20px;"><br style="text-align:center;"><h2>Welcome to ClouDhiti! Analytics for all</h2><p style="text-align:center;">Business Insights as a Service!</p><p style="font-size:13px;">For support, please write to results@cloudhiti.com.</p> -->
        </div>
        <div class="col-md-6 mx-auto" >
            <div class="card-group" style="margin-left:30%;">
                <div class="card p-4" style="height:60%; box-shadow: 2px 2px;">
                  <div class="card-body">



                  <h4>Recover your ClouDhiti account</h4>


              <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">

                  <div class="input-group mb-3 ">

                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text" formControlName="email" placeholder="Enter your email" class="form-control" [(ngModel)]="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>

                  <div class="row" >
                      <div class="col-6">
                        <!-- <button type="submit" class="px-4" style="height:35px; color: #FFFFFF; background-color: rgb(0,189,189); border-radius: 5px;" >Register</button> -->
                        <!-- <button type="submit" class="px-4" style="height:35px; color: #FFFFFF; background-color: #669999; border-radius: 5px;" >Register</button> -->
                        <button class="btn btn-primary">Verify</button>
                        <ngx-spinner
                          bdColor="rgba(51,51,51,0.8)"
                          size="medium"
                          color="#fff"
                          type="ball-scale-multiple">
                        <p style="font-size: 20px; color: white">Loading...</p>
                        </ngx-spinner>
                      </div>
                      <div class="col-6 text-right">
                       <!--  <button type="button" class="btn btn-link px-0">Forgot password?</button> -->
                      </div>

                      <p style="margin-left: 3%;margin-top:5%;padding: 5px;"><a href="#">Back to sign in</a></p>
                      <p style="margin-left: 5%;font-size: 10px;">© 2019 ClouDhiti or its affiliates.All rights reserved.</p>
                      <!-- <div class="row"> -->
                      <span  ><a style="margin-left: 20px;" href="#">Privacy Policy</a></span>
                      <span  ><a style="margin-left: 10px;"  href="#" >Terms of Use</a> </span>
                    <!-- </div> -->
                  </div>

              </form>


              <!-- <modal id="custom-modal-1">
                  <div class="modal">
                      <div class="modal-body">
                          <h1>A Custom Modal!</h1>
                          <p>
                              Home page text: <input type="text" [(ngModel)]="bodyText" />
                          </p>
                          <button (click)="closeModal('custom-modal-1');">Close</button>
                      </div>
                  </div>
                  <div class="modal-background"></div>
              </modal>

              <modal id="custom-modal-2">
                  <div class="modal">
                      <div class="modal-body">
                          <h1 style="height:1000px">A Tall Custom Modal!</h1>
                          <button (click)="closeModal('custom-modal-2');">Close</button>
                      </div>
                  </div>
                  <div class="modal-background"></div>
              </modal> -->


                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </main>
</div>
